.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 300px;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}

.bottom-toolbar{
  width: 100%;
  position: sticky;
  bottom: 0;
  z-index: 1;
}

.msg-list{
  min-height: 800px;
}

.mat-top-toolbar{
  z-index: 1;
  position: sticky;
  top: 0;
}
